<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
        div{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80vh;
        }
        .sty{
            padding: 2% 3% 2% 3%;
            background-color: #607D8B;
            color: white;
            font-style: italic;
        }
    </style>
</head>
<body>
    <div>
        <p class="sty"> If window doesn't close in 5-10 seconds, Please close the window and Log In again </p>
    </div>
</body>
</html>

